# Virtual environment
venv/
env/

# Bytecode-files
__pycache__/
*.pyc
*.pyo
*.pyd

# sql database
db.sqlite3

# Logs and temporary files
*.log
*.pot
*.swp
*~

# vscode
.vscode/
.idea/
*.sublime-workspace

# sys files
.DS_Store
Thumbs.db

# Umgebungsvariablen-Datei (z. B. API-Keys)
.env
