{% extends 'main/base.html' %}

<div class="flex-1 container mx-auto mt-12 px-6">
    {% block header %}
    <div class="text-center">
        <h2 class="text-4xl font-bold text-gray-900">Vielen Dank für Ihre Anmeldung! ✅</h2>
        <p class="mt-2 text-lg text-gray-600">Falls weitere Informationen benötigt werden, wird sich unser Empfangsteam mit Ihnen in Verbindung setzen. 
            <br> Bei Fragen oder Änderungswünschen können Sie sich jederzeit direkt an den Empfang wenden.</p>
    </div>
    {% endblock header %}
</div>
